nav a {
    color:  #943153;
}

.bg-primary
{
    background-color: #943153!important;
}

.center-box {
    margin-top: 10px;
}

.right-box {
    margin-top: 20px;
    text-align: right;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.new-project-button {
    text-align: right;
}

.task-row {
    margin-top: 20px;
    font-size: 19px;
}

form {
    margin-top: 20px;
    font-size: 19px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.project-border
{
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 7px;
    margin: 2px;
    color: #FFFDD0;
    background-color: #ED9F4E;
}

.border-link:hover
{
    text-decoration: none;
}

.project-border-link
{
    border: 2px solid #dddddd;
    cursor: pointer;
    border-radius: 7px;
    margin: 2px;
    color: #FFFDD0;
    background-color: #ED9F4E;
}

.border-link:hover
{
    text-decoration: none;
}

.btn
{
    background-color: #943153;
}

.btn-task
{
    background-color: #943153;
    position: absolute;
    right: 10px;
}


.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}