{% extends "base.html" %}

{% block left %}
<span>Jump to</span>
{% for project in projects%}
  {% if not project.completion %}
    <a class="border-link" style="text-align:center;" href="{{ url_for('projects.project', project_name=project.name) }}">
      <div class="project-border px-2 py-2">
        {{project.name}}
      </div>
    </a>
  {% endif %}
{% endfor %}
{% endblock %}

{% block center %}
<div class="row">
  <div class="col-9">
    <h1 class="title" style="font-size: 24px;">The list of all users:</h1>
  </div>
</div>


  <ul class="list-group" style="margin-top: 10px">
    {% for user in users%}
    <a class="project-border-link" style="text-align:center;" href="{{ url_for('users.userpage', user_name=user.name) }}">
      <div class="project-border px-2">
        {{user.name}}
      </div>
    </a>
    {% endfor %}
  </ul>
{% endblock %}