{% extends "base.html" %}



{% block left %}
  <span>Back to</span><br>
      <span><a href="{{ url_for('projects.project', project_name=project_name) }}">{{project_name}}</a></span><br>
{% endblock %}

{% block center %}
  <div class="row">
    <div class="col">
      <span class="title" style="font-size: 24px;">Edit project name: {{project_name}}</span>
    </div>
  </div>

<div class="content-section">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.project_name.label(class="form-control-label") }}
                    {% if form.project_name.errors %}
                        {{ form.project_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.project_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.project_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.users.label(class="form-control-label") }}

                    {% if form.users.errors %}
                        {{ form.users(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.users.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <select class="form-control selectpicker" id="users" multiple="" name="users" required="">
                            {% for user in users %}
                            <option value="{{user.name}}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.date_due.label(class="form-control-label") }}

                    {% if form.date_due.errors %}
                        {{ form.date_due(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date_due.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date_due(class="datepicker") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Edit project">
            </div>
        </form>
</div>

{% endblock %}