{% extends "base.html" %}
{% block center %}
<!--<a href="/gdisconnect">Log out</a>-->
<div class="row">
  <div class="col">
    <span class="title" style="font-size: 24px;">Projects</span>
  </div>
  <div class="col new-project-button" style="text-align: right;">
    <a class="btn btn-primary btn-sm" href="/project/new">+ New Project</a>
  </div>
</div>

<div class="title mt-4" style="text-align: center;">Active projects</div>

  <ul class="list-group" style="margin-top: 10px">
    {% for project in projects%}
    {% if not project.completion %}
    <a class="project-border-link" style="text-align:center;" href="{{ url_for('project', project_name=project.name) }}">
      <div class="project-border px-2">
        {{project.name}}
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </ul>

<div class="title mt-4" style="text-align: center;">Closed projects</div>

  <ul class="list-group" style="margin-top: 10px">
    {% for project in projects%}
    {% if project.completion %}
    <a class="project-border-link" style="text-align:center;" href="{{ url_for('project', project_name=project.name) }}">
      <div class="project-border px-2">
        {{project.name}}
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </ul>
{% endblock %}