{% extends "base.html" %}



{% block left %}
<span>Jump to</span>
{% for project in projects%}
    <a class="border-link" style="text-align:center;" href="{{ url_for('project', project_name=project.name) }}">
      <div class="project-border px-2">
        {{project.name}}
      </div>
    </a>
{% endfor %}
{% endblock %}


{% block center %}
<div class="row">
  <div class="col-9">
    <h1 class="title" style="font-size: 24px;">{{u_project_name}}</h1>
  </div>

  <div class="col-3 new-project-button" style="text-align: right;">
    <a class="btn btn-primary btn-sm" href="{{ url_for('new_task', project_name=u_project_name) }}">+ New Task</a>
  </div>
</div>

<!--<a href="/">Homepage</a> <br><br>-->
<!--<a href="{{ url_for('new_task', project_name=project_name) }}">Add A New Task</a> <br><br>-->
<a class="btn btn-primary btn-sm" href="{{ url_for('edit_project', project_name=u_project_name) }}">Mark as complete</a>
<a class="btn btn-primary btn-sm" href="{{ url_for('edit_project', project_name=u_project_name) }}">Edit</a>
<a class="btn btn-primary btn-sm"  href="{{ url_for('delete_project', project_name=u_project_name) }}">Delete</a>

<!-- Content of this project -->
<div class="row" >
  <div class="col task-row" style="margin-top: 20px; font-size: 19px">
    <div>{{ content }}</div>
  </div>
</div>

<!-- Manager of this project -->
<div class="row" >
  <div class="col task-row" style="margin-top: 20px; font-size: 19px">
    <span>Manager of this project is: {{ manager.name }}</span>
  </div>
</div>

<!-- Date end -->
<div class="row" >
  <div class="col task-row" style="margin-top: 20px; font-size: 19px">
    <span>The project is due on {{ end_date }}</span>
  </div>
</div>

<!-- show a list of users that participate in this project -->
<div class="row" >
  <div class="col task-row" style="margin-top: 20px; font-size: 19px">
    <p class="mb-2">Users that are participating in this project:</p>
  </div>
</div>

<ul class="list-group">
{% for user in users %}
  <li class="list-group-item mb-1">{{user}}</a></li>
{% endfor %}

<!-- show a list of tasks within this project -->
<div class="row" >
  <div class="col task-row" style="margin-top: 20px; font-size: 19px">
    <span>Tasks</span>
  </div>
</div>

<ul class="list-group">
{% for task in tasks %}
  <li class="list-group-item"><a href="{{ url_for('task', project_name=u_project_name, task_name=task.name) }}">{{task.name}}</a></li>
{% endfor %}
</ul>
{% endblock %}