{% extends "base.html" %}



{% block center %}
<div class="row">
  <div class="col-9">
    <h1 class="title" style="font-size: 24px;">User information:</h1>
  </div>
</div>

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.name }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>

    </div>


<div class="row">
  <div class="col-9">
    <h1 class="title mt-4 mb-1" style="font-size: 24px;">Projects where user is manager:</h1>
  </div>
</div>

  <ul class="list-group" style="margin-top: 1px">
    {% for project in projects%}
    {% if project.manager.name == username %}
    <a class="project-border-link" style="text-align:center;" href="{{ url_for('projects.project', project_name=project.name) }}">
      <div class="project-border px-2">
        {{project.name}}
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </ul>

<div class="row">
  <div class="col-9">
    <h1 class="title mt-4 mb-1" style="font-size: 24px;">Tasks where user is executor:</h1>
  </div>
</div>

  <ul class="list-group" style="margin-top: 1px">
    {% for task in tasks%}
    {% if task.executor.strip() == username %}
    <a class="project-border-link" style="text-align:center;" href="{{ url_for('tasks.task_redirect', task_name=task.name) }}">
      <div class="project-border px-2">
        {{task.name}}
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </ul>
{% endblock %}